In [2]:
no_of_students = int(input("Enter number of students"))
students = []
#print (students)
for x in range (no_of_students) :
    st = input ("Enter name of student:")
    students.insert(x,st)     #students.append(st)
#print (students)

Enter number of students1
Enter name of student:sana

In [3]:
#use of touple
# syntax of touple touple_name = (values)

universties = ("University of Agriculture", "University of Faisalabad" , "National Textile University" , "FAST University")

uni = int(input("Press\n1. for University of Agriculture\n2. for University of Faisalabad\n3. for National Textile University\n4. for FAST University"))
if uni == 1:
    print ("*************students of " + str(universties[uni-1]) + " are*************\n")
    print (students)
elif uni == 2:
    print ("*************students of " + str(universties[uni-1]) + " are*************\n")
    print (students)
elif uni == 3:
    print ("*************students of " + str(universties[uni-1]) + " are*************\n")
    print (students)
elif uni == 4:
    print ("*************students of " + str(universties[uni-1]) + " are*************\n")
    print (students)
else:
    print ("invalid")

Press
1. for University of Agriculture
2. for University of Faisalabad
3. for National Textile University
4. for FAST University4
*************students of FAST University are*************

['sana']

In [5]:
#Nested For Loop

no_of_students = int(input("Enter number of Father"))
father = []
#print (students)
for x in range (no_of_students) :
    st = input ("Enter name of father:")
    father.insert(x,st)     #students.append(st)
print (father)


no_of_students = int(input("Enter number of slbblings"))
sibbling = []
#print (students)
for x in range (no_of_students) :
    st = input ("Enter name of sibbling:")
    sibbling.insert(x,st)     #students.append(st)
print (sibbling)

for first_name in (sibbling):
    for second_name in (father):
        print(first_name + " " + second_name)

Enter number of Father2
Enter name of father:samee
Enter name of father:shahid
['samee', 'shahid']
Enter number of slbblings2
Enter name of sibbling:farah
Enter name of sibbling:hira
['farah', 'hira']
farah samee
farah shahid
hira samee
hira shahid

In [7]:
a = "farah"
print (a.upper())
print(father.upper())

FARAH

AttributeError: 'list' object has no attribute 'upper'